// Colors
$color-yellow: #F8D442;
$color-grey: #6C6C6C;
$color-light-grey: #CDCDCD;
$color-orange: #FEAF00;
$color-white: #FFFFFF;

// Typography
$ff-main: "PTSans", "Arial", sans-serif;
$ff-secondary: "Arsenal", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in-out 0.3s;